<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="testGetBean" class="com.github.pyro233.mini.spring.test.AServiceImpl"/>

    <bean id="testValues" class="com.github.pyro233.mini.spring.test.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property" value="Hello World!"/>
    </bean>

    <bean id="testValuesDefaultCtor" class="com.github.pyro233.mini.spring.test.AServiceImpl">
        <property type="String" name="property" value="Hello World!"/>
    </bean>
</beans>